VITE_PHONE_NUMBER=+393333333
VITE_EMAIL=info@email.it
VITE_EMAIL_PEC=email
VITE_TEL=393333333
VITE_WHATSAPP_NUMBER=39922222
VITE_SOCIAL_INSTAGRAM=https://instagram.com/tuoprofilo
VITE_SOCIAL_FACEBOOK=https://facebook.com/tuoprofilo
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx



