.header-logo {
  filter: brightness(0) invert(1);
}

.social-icon {
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.social-icon:hover {
  color: #931824; /* rosso bootstrap scuro */
  transform: scale(1.15);
}

.footer-contact a:hover {
  text-decoration: underline !important;
}

.bigfont {
  font-size: 30px;
}

.imgs-height {
  height: 60vh;
  min-height: 300px;
  max-height: 500px;
  object-fit: cover;
}
